.vertical-timeline-element--education h3{
    color: black;
}

.vertical-timeline-element--education p{
    color: black;
}

.timeline-element{
    color: aliceblue;
    background: black;
}

.vertical-timeline-element-content{
    color: aliceblue;
    background: black;
}

